
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class="li-container"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @user, html: {class: "comp-form"} do |f| %>
    <div class="row">
      <div class="split">
      <div class="card-header">Personal & Account Info</div>
        <ul>
          <li class="li-container">
            <%= f.label :prefix %> <br>
            <%= f.text_field :prefix, class: "user-container" %>
          </li>
          <li class="li-container">
            <%= f.label :first_name %> <br>
            <%= f.text_field :first_name, class: "user-container" %>
          </li>
          <li class="li-container">
            <%= f.label :last_name %> <br>
            <%= f.text_field :last_name, class: "user-container" %>
          </li>
          <li class="li-container">
            <%= f.label :email %> <br>
            <%= f.text_field :email, class: "user-container" %>
          </li>
        </ul>
      </div>
      <div class="split">
      <div class="card-header">Business & Contact Info</div>
        <ul>
          <li class="li-container">
            <%= f.label :job_title %> <br>
            <%= f.text_field :job_title, class: "user-container" %>
          </li>
          <li class="li-container">
            <%= f.label :location %> <br>
            <%= f.text_field :location, class: "user-container" %>
          </li>
          <li class="li-container-plain">
            <%= f.label :tel %> <br>
            <%= f.text_field :tel, class: "user-container" %>
            <span class="li-span">
              <%= f.label :ext %>
              <%= f.text_field :ext, class:"span-input" %>
            </span>
          </li>
          <li class="li-container-plain">
            <%= f.label :fax %> <br>
            <%= f.text_field :fax, class: "user-container" %>
          </li>
          <li class="li-container">
            <%= f.label :business_email %> <br>
            <%= f.text_field :business_email, class: "user-container" %>
          </li>
        </ul>
  </div>
  </div>
  <div class="sub-form">
    <%= f.submit "Save", class:"btn-save" %>
  </div>
  <% end %>